{% extends "base.html" %}

{% block content %}
<div class="dashboard">
    <h2 class="dashboard-title text-center">Sikande Integrated Dashboard!</h2>
    <div class="chart-container">
        <canvas id="doughnutChart"></canvas>
    </div>
    <div class="container dashboard-total">
        <p class="text-center">Total Outcome for <b>{{ dt.ctime()[4:7] }} {{ dt.ctime()[20:24] }}</b> is:
        <b>{{ "Rp{:,.2f}".format(totalout) }}</b></p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
